/* Styles for admin dashboard */
.alert {
    background-color: #f44336;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    width: 30%;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 5px;
}

/* Styles for loading spinner */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: 5px;
    vertical-align: middle;
    display: none;
    /* Initially hidden */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}